In [7]:
import pandas as pd

In [8]:
df=pd.read_csv(r"C:\Users\ADMIN\OneDrive\Desktop\Amazon Scrap Data\amazon_laptop_cleaned_set.csv")

In [9]:
df.drop(df.columns[0],axis=1,inplace=True)

In [10]:
df

,Product Name,Price,Processor,Brand,RAM,Rating,Storage,Windows,Color,Discount,Screen Size
0,HP OmniBook 5 OLED (Previously Pavilion),66990.0,NaN,HP,16GB,4.1,512GB,Windows 11,Silver,20.0,14.0
1,HP Omen 16 Max,287999.0,NaN,HP,32GB,3.3,1TB,Windows 11,Black,17.0,16.0
2,"EBook 11.6"" HD Laptop",10990.0,NaN,EBOOK,4GB,3.8,4GB,Windows 11,Black,56.0,11.6
3,HP 15,41990.0,i3,HP,12GB,4.1,512GB,Windows 11,Silver,20.0,15.6
4,JioBook 11 with Lifetime Office,10990.0,NaN,JIOBOOK,4GB,2.9,4GB,NaN,Blue,56.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
281,ASUS Vivobook 15 (2025),37927.0,Intel Core i3-1315U,ASUS,8GB,5.0,512GB,Windows 11,Silver,NaN,NaN
282,ASUS Zenbook 14,114990.0,NaN,ASUS,NaN,4.1,32GB,Windows 11,Blue,NaN,NaN
283,HP Omen,131490.0,Intel Core i7-14700HX,HP,16GB,3.4,1TB,Windows 11,Silver,NaN,NaN
284,Primebook 2 Pro 2025 (New Launch),19990.0,MediaTek,PRIMEBOOK,8GB,4.4,8GB,NaN,Gray,NaN,NaN
285,HP 15,60490.0,Intel Core i5-13420H,HP,16GB,4.0,512GB,Windows 11,Silver,NaN,NaN

In [11]:
# 1. Which brand has highest average price?

highest_avg_price=df.groupby("Brand")["Price"].mean().sort_values(ascending=False)
res=highest_avg_price.reset_index(name="Average Price")
res

         Brand  Average Price
0    MICROSOFT  243990.000000
1          MSI  242170.800000
2           HP   71194.888889
3         ASUS   61808.789474
4       LENOVO   61796.342857
5      SAMSUNG   55150.000000
6         ACER   50443.083333
7         DELL   43818.687500
8       IENOVO   25995.000000
9    PRIMEBOOK   21430.000000
10     ULTIMUS   18990.000000
11      WALKER   16990.000000
12     THOMSON   15323.333333
13  BROWSEBOOK   12990.000000
14     JIOBOOK   10990.000000
15       EBOOK   10990.000000
16      STRIFF     199.000000

In [12]:
# 2. Which brand has highest average rating?

highest_avg_rating=df.groupby("Brand")["Rating"].mean().sort_values(ascending=False)
res=highest_avg_rating.reset_index(name="Average Rating")
res

         Brand  Average Rating
0      SAMSUNG        4.900000
1    PRIMEBOOK        4.352000
2         ASUS        4.292308
3       STRIFF        4.200000
4         DELL        4.180000
5           HP        4.013402
6       LENOVO        3.997619
7         ACER        3.883333
8        EBOOK        3.800000
9      THOMSON        3.666667
10         MSI        3.400000
11     ULTIMUS        3.400000
12  BROWSEBOOK        3.000000
13      WALKER        3.000000
14     JIOBOOK        2.900000
15   MICROSOFT        2.900000
16      IENOVO             NaN

In [13]:
# 3. Top 5 most reviewed laptops?

most_reviewed_lap = (df.sort_values("Rating", ascending=False).head(5))
most_reviewed_lap

,Product Name,Price,Processor,Brand,RAM,Rating,Storage,Windows,Color,Discount,Screen Size
91,DELL PRO 15 (2025) AMD Ryzen 5 7520U Quad Core...,37990.0,Ryzen 5,DELL,8GB,5.0,512GB,Windows 11,Black,19.0,15.6
60,HP Professional 14 (2025),44050.0,i3,HP,NaN,5.0,512GB,Windows 11,Silver,10.0,14.0
181,ASUS Gaming V16 (2025),99990.0,NaN,ASUS,16GB,5.0,512GB,Windows 11,Black,NaN,NaN
81,Thomson NEO 14.1 Inch IN-P14C Intel Dual Core ...,14990.0,NaN,THOMSON,8GB,5.0,256GB,NaN,White,46.0,NaN
27,ASUS Gaming V16 (2025),99990.0,NaN,ASUS,16GB,5.0,512GB,Windows 11,Black,28.0,16.0

In [14]:
# 4. What is the average discount percentage?

avg_disc_per=df.groupby("Brand")["Discount"].mean().sort_values(ascending=False).reset_index(name="Average Discount")
avg_disc_per

# Here the discount is already in percentage.

         Brand  Average Discount
0       STRIFF         87.000000
1       IENOVO         63.000000
2       WALKER         58.000000
3   BROWSEBOOK         57.000000
4        EBOOK         56.000000
5      JIOBOOK         56.000000
6      ULTIMUS         53.000000
7      THOMSON         44.000000
8    PRIMEBOOK         33.461538
9       LENOVO         31.904762
10     SAMSUNG         29.000000
11        ASUS         22.500000
12        DELL         22.000000
13        ACER         20.375000
14          HP         16.170732
15         MSI         11.250000
16   MICROSOFT          2.000000

In [15]:
# 5. Price vs Rating correlation value?

res=df["Price"].corr(df["Rating"])
res

# As price increases, rating slightly decreases,
# BUT the relationship is very weak.
# Because:
# Correlation is close to 0
# Not close to -1

np.float64(-0.16885330074421642)

In [16]:
# 6. Distribution of laptops by RAM (8GB, 16GB, etc.)

df["RAM"] = df["RAM"].str.upper().str.strip()
distributions_on_brand=df["RAM"].value_counts().reset_index(name="Number of Laptops")
distributions_on_brand

    RAM  Number of Laptops
0  16GB                109
1   8GB                 91
2   4GB                 21
3  24GB                 17
4  12GB                 11
5  32GB                  8
6   6GB                  3

In [17]:
# 7. Which screen size is most common?

df["Screen Size"].value_counts().idxmax()

np.float64(15.6)

In [18]:
# 8. How many laptops under ₹50,000?

res = df[df["Price"]<50000]
res.count()

Product Name    149
Price           149
Processor       104
Brand           149
RAM             139
Rating          144
Storage         148
Windows         110
Color           143
Discount         65
Screen Size      40
dtype: int64

In [19]:
# 9. What is the average price by RAM configuration (8GB vs 16GB vs 32GB)?

res=df.groupby("RAM")["Price"].mean().reset_index(name="Average Price")
res

    RAM  Average Price
0  12GB   39265.181818
1  16GB   66024.141509
2  24GB  112801.764706
3  32GB  203848.428571
4   4GB   12813.529412
5   6GB   62990.000000
6   8GB   30185.120879

In [20]:
# 10. What is the average price by processor type (i3, i5, Ryzen 5, etc.)?

res=df.groupby("Processor")["Price"].mean().reset_index(name="Average Price")
res

                      Processor  Average Price
0             AMD Ryzen 3 7320U   35830.000000
1   AMD Ryzen 5 7535U Hexa Core   38990.000000
2                   AMD Ryzen 7   51990.000000
3             AMD Ryzen 7 5825U   49990.000000
4            AMD Ryzen 7 7445HS   62990.000000
5        AMD Ryzen 7 7730U Thin   49820.000000
6            AMD Ryzen 7 7735HS   56990.000000
7            AMD Ryzen 7 7840Hs  126220.000000
8            AMD Ryzen 9 8940HX  155490.000000
9            AMD Ryzen AI 5 340   68990.000000
10           AMD Ryzen AI 7 350   99990.000000
11                Intel Celeron   19177.500000
12           Intel Core Celeron   31999.000000
13                Intel Core i3   42962.500000
14          Intel Core i3-1315U   40427.444444
15     Intel Core i3-1315U-13th   39990.000000
16                Intel Core i5   55150.000000
17         Intel Core i5-12450H   51325.000000
18          Intel Core i5-1334U   54990.000000
19          Intel Core i5-1335U   77490.000000
20         Intel Core i5-13420H   65090.000000
21        Intel Core i5-14450HX   80490.000000
22          Intel Core i7-1355U   67990.000000
23         Intel Core i7-13620H  105990.000000
24        Intel Core i7-14700HX  131490.000000
25                Intel Pentium   18990.000000
26                     MediaTek   21490.000000
27                     Mediatek   10990.000000
28          Qualcomm Snapdragon  243990.000000
29                      Ryzen 3   36470.000000
30                      Ryzen 5   40740.000000
31                      Ryzen 7   67329.083333
32                      Ryzen 9  155490.000000
33                           i3   42518.526316
34                           i5   64444.421053
35                           i7  112756.909091
36                           i9  164490.000000

In [21]:
# 11. What is the price distribution (budget, mid-range, premium)?

df["Price_Category"] = pd.cut(
    df["Price"],
    bins=[0, 40000, 70000, float("inf")],
    labels=["Budget", "Mid-Range", "Premium"]
)
df

,Product Name,Price,Processor,Brand,RAM,Rating,Storage,Windows,Color,Discount,Screen Size,Price_Category
0,HP OmniBook 5 OLED (Previously Pavilion),66990.0,NaN,HP,16GB,4.1,512GB,Windows 11,Silver,20.0,14.0,Mid-Range
1,HP Omen 16 Max,287999.0,NaN,HP,32GB,3.3,1TB,Windows 11,Black,17.0,16.0,Premium
2,"EBook 11.6"" HD Laptop",10990.0,NaN,EBOOK,4GB,3.8,4GB,Windows 11,Black,56.0,11.6,Budget
3,HP 15,41990.0,i3,HP,12GB,4.1,512GB,Windows 11,Silver,20.0,15.6,Mid-Range
4,JioBook 11 with Lifetime Office,10990.0,NaN,JIOBOOK,4GB,2.9,4GB,NaN,Blue,56.0,NaN,Budget
...,...,...,...,...,...,...,...,...,...,...,...,...
281,ASUS Vivobook 15 (2025),37927.0,Intel Core i3-1315U,ASUS,8GB,5.0,512GB,Windows 11,Silver,NaN,NaN,Budget
282,ASUS Zenbook 14,114990.0,NaN,ASUS,NaN,4.1,32GB,Windows 11,Blue,NaN,NaN,Premium
283,HP Omen,131490.0,Intel Core i7-14700HX,HP,16GB,3.4,1TB,Windows 11,Silver,NaN,NaN,Premium
284,Primebook 2 Pro 2025 (New Launch),19990.0,MediaTek,PRIMEBOOK,8GB,4.4,8GB,NaN,Gray,NaN,NaN,Budget
285,HP 15,60490.0,Intel Core i5-13420H,HP,16GB,4.0,512GB,Windows 11,Silver,NaN,NaN,Mid-Range